@tailwind base;
@tailwind components;
@tailwind utilities;


h2{
    color: #130F26;

font-family: DM Sans;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

h5{color: #898989;
    font-family: DM Sans;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.0075rem;}

    